
MKSTE/.DS_Store
.DS_Store
MKSTE.xcodeproj/project.xcworkspace/xcuserdata/kaiazim.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
MKSTE.xcodeproj/project.xcworkspace/xcuserdata/kaiazim.xcuserdatad/UserInterfaceState.xcuserstate
